@page
@model RazorPages.Pages.Content.AirCraftsModel
@{
}
<title>מה זה מטוס קרב?</title>

<style>

    h1 {
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }

    h2 {
        color: darkslategrey;
        text-shadow: 1px 1px 2px;
    }
    p{
      font-family:David;

    }
</style>
<h1 align="center"> מטוסי קרב</h1>
<hr align="center" width="100%" color="green" />
<div dir="rtl">
    <h1>מה זה מטוס קרב?</h1>
    <p>
        מטוס קרב הוא כלי טיס, בעל כנף קבועה, המיועד בעיקר לקרבות אוויר ולהפצצות, כגון הפצצות טקטיות או הפצצות אסטרטגיות.

        מטוסי קרב כוללים מטוסי יירוט, מפציצים, מטוסי קרב-הפצצה ומטוסי תקיפה מסוגים שונים לתקיפת מטרות אסטרטגיות ומטרות טקטיות.

        מחירו של מטוס קרב מודרני מגיע לעשרות מיליוני דולרים. הוא נחשב לאחד מכלי הנשק החזקים ביותר והשימושיים ביותר בשדה הקרב בזכות ניידותו, רב המשימתיות ועוצמת האש הגדולה שלו.

        עם זאת, חולשתו היא בחוסר יכולתו לכבוש ולשלוט בתא שטח קרקעי לאורך זמן, בדומה לחיל רגלים וכוחות שריון.
    </p>
    <br />
    <img src="~/picturs/f-162.jpg" />

    <h1 align="center ">המטוס שחוגג 50 שנה </h1>
    <br />

    <p style="font-family:David">F-16 פייטינג פלקון (באנגלית: Fighting Falcon – "בז לוחם") הוא מטוס קרב סילוני רב־משימתי אמריקאי מהדור הרביעי, שתוכנן על ידי ג'נרל דיינמיקס. הוא נועד במקור להיות מטוס קרב קל, והתפתח למטוס רב־משימתי מוצלח. ב־1993 מכרה ג'נרל דיינמיקס את עסקי ייצור כלי הטיס ללוקהיד קורפוריישן, כיום חלק מלוקהיד מרטין. יכולותיו הרב־תכליתיות הן הסיבה העיקרית להצלחתו, והוא מיוצא בהיקפים גדולים ונמצא כיום בשירותן של 25 מדינות. תוכנית ה־F-16 היא תוכנית מטוס הקרב המערבית הגדולה ביותר, וכנראה המשמעותית ביותר.</p>
    <br />

    <hr align="center" width="80%" color="green" />
    <br />
    <p dir="rtl">

        ה־F-16 נכנס לשירות בחיל האוויר הישראלי בשנת 1980 ומהווה כיום את עמוד השדרה שלו. ה־F-16 בחיל האוויר הישראלי קיבל את הכינויים "נץ 1" ו-"נץ 2" (דגמים A/B), "ברק" (דגמים C/D), "ברק 2" (דגמים CG/DG), ברק 2020 (דגמי C/D ו־CG/DG משודרגים) ו"סופה" (דגם I). למטוס ה־F-16 מורשת קרב עשירה ומוצלחת בחיל האוויר הישראלי, הן בקרבות אוויר והן בתקיפת מטרות קרקע, כולל השמדת שני כורים גרעיניים (בעיראק ובסוריה).
    </p>
    <hr align="right" width="60%" />
    <p dir="rtl">
        ה־F-16 נחשב למטוס קרב מעולה לקרבות אוויר צמודים. הוא כולל חידושים כגון חופת בועה, מוט היגוי המותקן בצד, ומושב הנשען לאחור. זהו גם מטוס הקרב האמריקאי הראשון המסוגל לבצע פניות ב־9 ג'י. אף ששמו הרשמי של ה־F-16 הוא "פייטינג פלקון", הוא ידוע בקרב הטייסים האמריקאיים בכינוי "וייפר" (צפע).
    </p>
    <img align="right" src="~/picturs/f-165.jpg" width="600px" height="1000px" />

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 align="center">The F-22 Menuvers</h1>
<p align="center">
    <video controls="controls" width="1100px">
        <source src="~/picturs/insane%20f-22%20raptor%20hype%20video.mp4" type="video/mp4" />
    </video>
</p>



<a asp-page="/Content/AirCrafts">
    <img src="~/picturs/arrow.png" title="לחץ כדי להעלות מעלה" />
</a>