@page
@model RazorPages.Pages.Content.AirToGroundModel
@{
}
<title>טילי אוויר קרקע </title>

<link href="~/css/stylesheet.css" rel="stylesheet" />


<header>
    <h1 align="center">טילי אוויר-קרקע</h1>
</header>
<div dir="rtl">
    <section>
        <h2>מהם טילי אוויר-קרקע?</h2>
        <p>טילי אוויר-קרקע הם טילים שמשוגרים מכלי טיס, כמו מטוסים או מסוקים, ומיועדים לפגוע במטרות על הקרקע. טילים אלו משמשים למגוון מטרות צבאיות.</p>
    </section>
    <section>
        <h2>שימושים עיקריים</h2>
        <ul>
            <li>השמדת טנקים ורכבים משוריינים</li>
            <li>תקיפת מבנים ומתקנים</li>
            <li>חיסול מטרות אסטרטגיות</li>
        </ul>
    </section>
    <section>
        <h2>דוגמאות לטילים</h2>
        <ul>
            <li>AGM-114 Hellfire</li>
            <li>AGM-65 Maverick</li>
            <li>Spike NLOS</li>
        </ul>
    </section>
</div>
<img src="~/picturs/f-35rockets.jpg" />