@page
@model RazorPages.Pages.Content.AirTOAirModel
@{
}
<title>טילי אוויר אוויר</title>
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1 align="center">טילי אוויר-אוויר</h1>
<p dir="rtl">טיל אוויר-אוויר הוא חימוש מתקדם שנועד להשמיד מטרות אוויריות. הם כוללים מערכות הנחיה מדויקות ומסוגלים לפגוע במטרות בטווחים שונים.</p>
<ul dir="rtl">
    <li>
        <strong>AIM-120 AMRAAM:</strong> טיל ארוך טווח בעל הנחיה אקטיבית, משמש את חיל האוויר האמריקאי ובעלות בריתו.
    </li>
    <li>
        <strong>R-73:</strong> טיל קצר טווח בעל יכולת תמרון גבוהה והנחיה באמצעות אינפרה-אדום, מתוצרת רוסיה.
    </li>
    <li>
        <strong>MBDA Meteor:</strong> טיל ארוך טווח עם מערכת הנחיה מתקדמת במיוחד, בשימוש במדינות אירופאיות.
    </li>
    <li>
        <strong>PL-15:</strong> טיל סיני מתקדם, מתוכנן למטרות בטווחים ארוכים עם מערכות הנחיה משולבות.
    </li>
</ul>
<h1 align="center">בתמונה מתחת תוכלו לראות מטוס קרב יורה טיל אוויר אוויר</h1>
<p align="center">
    <img src="~/picturs/f35ata.jpg" width="1100px" height="600px" />
</p>
