@page
@model RazorPages.Pages.Content.BombsModel
@{
}
<title>פצצות</title>
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1 align="center ">פצצות שצהל משתמש</h1>
<hr width="80%" color="green" />

<h2 align="right">  "או בשמה הישראלי "ברק כבד JDAM </h2>
<p dir="rtl">
    JDAM (ראשי תיבות של Joint Direct Attack Munition, מכונה בצה"ל "ברד כבד") היא מערכת זנב ההופכת פצצות אוויר פשוטות, שעד כה נפלו במסלול בליסטי חופשי, לפצצות מדויקות, המכונות "פצצות חכמות". המערכת פותחה על ידי חיל האוויר האמריקני במשותף עם חיל הים האמריקני ומיוצרת על ידי חברת בואינג האמריקאית. השימוש המבצעי הראשון שלה היה ב"מבצע כוח מאוחד" בשנת 1999.
</p>
<p dir="rtl">
    <img align="center" src="~/picturs/barak.jpeg" width="500px" height="400px" />
</p>
<h2 align="right">f-15 והנה עוד תמונה שמאחורי הפצצה מופיע המטוס</h2>
<p dir="rtl">
    <img src="~/picturs/barak2.jpg" width="650px" height="400px" />
</p>
<h1 align=" center ">  מה זה פצצה?</h1>
<hr width="80%" color="gray" />
<br />
<br /><p dir="rtl">
    פצצה היא כלי נשק מסוג "מתקן נפץ" העשוי לרוב ממכל מתכתי הממולא בחומר נפץ. חומר נפץ זה מתפוצץ ויוצר הרס רב, לרוב כתוצאה מהדף ורסיסים.

    פיצוץ הפצצה נעשה על ידי מנגנון המכונה מרעום. המרעום יכול להיות מופעל על ידי קוצב זמן, שלט רחוק או חיישן מסוג כלשהו: חיישן לחץ אטמוספירי (לפיצוץ בגובה מסוים), מכ"ם, חיישן מגע או קרבה (חש את המרחק מהמטרה).
</p>
<p dir="rtl">
    <img src="~/picturs/bombf15.jpg" width="650px" height="400px" />
</p>
<br />
<h1 align="center">מתחת תוכלו לראות סירטון בוא מטוס קרב מתיל פצצה</h1>
<video controls="controls">
    <source src="~/picturs/f-35%20completes%20weapon%20delivery%20accuracy%20test%20(1).mp4" type="video/mp4" />
</video>
<br />
<br />
<a asp-page="/Content/Bombs">
    <img src="~/picturs/arrow.png" title="לחץ כדי להעלות מעלה" />
</a>
