@page
@model RazorPages.Pages.Content.EurofighterTyphoonModel
@{
}
<title>Eurofighter Typhoon</title>
<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:cornflowerblue;
        text-shadow: 1px 1px 2px;
    }

</style>
<div dir="rtl">
    <h1 align="center">Eurofighter Typhoon</h1>
    <h2>סקירה כללית</h2>
    <p>היורופייטר טייפון הוא מטוס קרב רב-משימתי חדיש שפותח בשיתוף פעולה בין בריטניה, גרמניה, איטליה וספרד. המטוס מצויד בטכנולוגיות מתקדמות וביכולות תמרון גבוהות.</p>

    <h2>מאפיינים טכניים</h2>
    <ul>
        <li><span class="highlight">תפקיד:</span> קרב רב-משימתי</li>
        <li><span class="highlight">מהירות מקסימלית:</span> 2,495 קמ"ש (מאך 2)</li>
        <li><span class="highlight">טווח טיסה:</span> כ-2,900 ק"מ</li>
        <li><span class="highlight">גובה מקסימלי:</span> 19,800 מטר</li>
        <li><span class="highlight">מנועים:</span> שני מנועי Eurojet EJ200</li>
    </ul>

    <h2>חימוש</h2>
    <ul>
        <li><span class="highlight">אוויר-אוויר:</span> טילי AMRAAM, IRIS-T</li>
        <li><span class="highlight">אוויר-קרקע:</span> פצצות מונחות לייזר (Paveway), טילי Storm Shadow</li>
        <li><span class="highlight">תותח:</span> Mauser BK-27 בקוטר 27 מ"מ</li>
    </ul>

    <h2>מערכות טכנולוגיות</h2>
    <p>המטוס מצויד ברדאר מתקדם מסוג Captor-E AESA, מערכות לוחמה אלקטרונית ותמרון יוצא דופן בזכות מבנה אווירודינמי מתקדם.</p>

    <h2>היסטוריה ותפעול</h2>
    <p>המטוס נכנס לשירות בשנת 2003 ומשמש כוחות אוויר במדינות כמו בריטניה, גרמניה, איטליה וספרד. משימותיו כוללות הגנה אווירית, תקיפות קרקע מדויקות ויירוט אויב.</p>


</div>
<p dir="rtl">
    <img src="~/picturs/typhoon.png" />
</p>
