@page
@model RazorPages.Pages.Content.F_16InfoModel
@{
}
<title>F-16</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:sandybrown;
        text-shadow: 1px 1px 2px;
    }

</style>
<header>
    <h1 align="center">F-16 מטוס הקרב </h1>
</header>
<div>
    <h2 dir="rtl" >מידע כללי</h2>
    <p dir="rtl" >
        ה-F-16, המוכר גם בשם "פייטינג פלקון" (Fighting Falcon), הוא מטוס קרב רב-משימתי שפותח על ידי חברת ג'נרל דיינמיקס
        (כיום לוקהיד מרטין). המטוס הוא אחד המוצלחים והנפוצים ביותר בעולם בזכות היכולת לבצע משימות קרב מגוונות בעלות נמוכה יחסית.
    </p>
    <h2 dir="rtl" >מאפיינים עיקריים</h2>
    <ul dir="rtl" >
        <li>מהירות מקסימלית: כ-2 מאך</li>
        <li>טווח טיסה: כ-4,220 ק"מ עם מכלי דלק נוספים</li>
        <li>חימוש: טילים מונחי חום ורדאר, תותח M61 וולקן</li>
        <li>צוות: טייס יחיד או שניים (תלוי בדגם)</li>
    </ul>
    <img align="right" src="~/picturs/f-16.jpg" width="700px" height="500px" />
</div>
