@page
@model RazorPages.Pages.Content.F_18InfoModel
@{
}
<title>F-18</title>

<style>

    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }

    h2 {
        color:cornflowerblue;
        text-shadow: 1px 1px 2px;
    }

</style>
<div dir="rtl">
    <h1 align="center">F/A-18 Hornet</h1>
    <h2>סקירה כללית</h2>
    <p>ה-F/A-18 Hornet הוא מטוס קרב רב-משימתי דו-מנועי מתוצרת חברת מקדונל דאגלס (כיום בואינג). המטוס נמצא בשירות מאז שנות ה-80 ומשמש את חיל הים וחיל האוויר של ארצות הברית ומדינות נוספות.</p>

    <h2>מאפיינים טכניים</h2>
    <ul>
        <li><span class="highlight">תפקיד:</span> קרב רב-משימתי (אוויר-אוויר ואוויר-קרקע)</li>
        <li><span class="highlight">מהירות מקסימלית:</span> 1,915 קמ"ש (מאך 1.8)</li>
        <li><span class="highlight">טווח טיסה:</span> כ-2,346 ק"מ ללא תדלוק</li>
        <li><span class="highlight">גובה מקסימלי:</span> 15,000 מטר</li>
        <li><span class="highlight">מנועים:</span> שני מנועי General Electric F404</li>
    </ul>

    <h2>חימוש</h2>
    <ul>
        <li><span class="highlight">אוויר-אוויר:</span> טילי AIM-9 Sidewinder, AIM-120 AMRAAM</li>
        <li><span class="highlight">אוויר-קרקע:</span> פצצות מונחות לייזר (GBU), טילי AGM-65 Maverick</li>
        <li><span class="highlight">תותח:</span> תותח M61 Vulcan בקוטר 20 מ"מ</li>
    </ul>

    <h2>מערכות טכנולוגיות</h2>
    <p>המטוס מצויד במערכות מתקדמות לניהול קרב, רדאר רב-תכליתי APG-73, וחיישנים אלקטרוניים למניעת איומים.</p>

    <h2>היסטוריה ותפעול</h2>
    <p>המטוס נכנס לשירות בשנת 1983 ומשמש בעיקר את חיל הים האמריקאי לנחיתות והמראות מנושאות מטוסים. הוא ידוע באמינותו הגבוהה וביכולותיו הרב-משימתיות.</p>


</div>
<p dir="rtl">
    <img src="~/picturs/f-18pictures.png" />
</p>
