@page
@model RazorPages.Pages.Content.F_22InfoModel
@{
}
<title>F-22</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:darkgoldenrod;
        text-shadow: 1px 1px 2px;
    }

</style>
<div dir="rtl">

    <h1 align="center"> מטוס הקרב F-22</h1>
   
    <h2>מידע כללי</h2>
    <p>
        ה-F-22, המוכר גם בשם "רפטור" (Raptor), הוא מטוס קרב חמקן מהדור החמישי שפותח על ידי חברת לוקהיד מרטין.
        המטוס תוכנן כדי לספק עליונות אווירית ברמה הגבוהה ביותר והוא נחשב לאחד ממטוסי הקרב המתקדמים בעולם.
    </p>
    <h2>מאפיינים עיקריים</h2>
    <ul>
        <li>מהירות מקסימלית: מעל 2 מאך (בלא חימוש כבד)</li>
        <li>טווח טיסה: כ-2,960 ק"מ</li>
        <li>חימוש: טילים מונחי רדאר, חימוש מונחה GPS, תותח M61A2</li>
        <li>תכונות מיוחדות: טכנולוגיית חמקנות, יכולת קרב-אוויר מעולה, חיישנים מתקדמים</li>
    </ul>
    <img src="~/picturs/f22sunset.jpg" width="800px" height="600px" al/>
</div>