@page
@model RazorPages.Pages.Content.F_35InfoModel
@{
}
<title>F-35</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:gray;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
    <h1>F-35 מטוס הקרב </h1>
</header>
<div dir="rtl">
    <h2>מידע כללי</h2>
    <p>
        ה-F-35, המוכר גם בשם "לייטנינג II" (Lightning II), הוא מטוס קרב חמקן מהדור החמישי שפותח על ידי חברת לוקהיד מרטין.
        המטוס מתוכנן לביצוע משימות רב-תכליתיות, כולל קרב-אוויר, תקיפות קרקעיות ואיסוף מודיעין מתקדם.
    </p>
    <p>המטוס מיוצר בשלושה דגמים עיקריים – דגם A להמראה ונחיתה רגילה, דגם B להמראה קצרה ונחיתה אנכית, ודגם C לפעולה מנושאות מטוסים. מלבד ארצות הברית שמיועדת לרכוש 2,443 מטוסים, ובריטניה שהיא שותפה בדרגה ראשונה, מדינות נוספות השותפות בפיתוח הן איטליה והולנד – בדרגה שנייה, אוסטרליה, קנדה, דנמרק, נורווגיה וטורקיה – בדרגה שלישית, ישראל וסינגפור – בשותפות ביטחונית.</p>
    <h2>מאפיינים עיקריים</h2>
    <ul>
        <li>מהירות מקסימלית: כ-1.6 מאך</li>
        <li>טווח טיסה: כ-2,800 ק"מ</li>
        <li>חימוש: טילים מונחי רדאר וחום, פצצות מונחות GPS, תותח GAU-22/A</li>
        <li>תכונות מיוחדות: חמקנות מלאה, מערכת חיישנים מתקדמת, יכולת נחיתה אנכית (בדגם F-35B)</li>
    </ul>
    <img src="~/picturs/f-35b.jpg" width="800px" height="600px" />
</div>
<br />
<br />
<h2 align="center"> מבצע תרגילים במטס יום העצמאות F-35 בסרטון למטה תוכלו לראות  מטוס </h2>

<p align="center">
    <video controls="controls" align="center">
        <source src="~/picturs/f35%20videomatas.mp4" type="video/mp4" />
    </video>
</p>
<a asp-page="/Content/F-35Info">
    <img src="~/picturs/arrow.png" title="לחץ כדי להעלות מעלה"/>
</a>

