@page
@model RazorPages.Pages.Content.FLARESModel
@{
}
<title>Flares</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:goldenrod;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
    <h1>נורים במטוס קרב</h1>
</header>
<div dir="rtl">

    <h2>מהם נורים?</h2>
    <p>נורים הם אמצעי הגנה במטוסי קרב שנועדו לשבש מערכות גילוי וחימוש של האויב. הם מייצרים חום אינטנסיבי או קרינה בתחום מסוים של ספקטרום האור, במטרה להסיט טילים מונחי חום ממטרתם.</p>
    <h2>מטרות השימוש בנורים</h2>
    <ul>
        <li>הגנה מפני טילים מונחי חום</li>
        <li>שיבוש מערכות הגילוי של האויב</li>
        <li>הגברת שרידות המטוס בקרב</li>
    </ul>

    <h2>אופן הפעולה</h2>
    <p>כאשר מטוס קרב מתמודד עם איום מטיל מונחה חום, הנורים משוגרים מהמטוס ונשרפים במהירות באוויר, מייצרים מקור חום חזק שמטרתו להסיט את הטיל מהמטוס לעבר הנורים.</p>

    <h2>חומרים נפוצים בנורים</h2>
    <p>נורים עשויים מחומרים כמו מגנזיום או תרכובות מתכתיות אחרות, שמסוגלים לבעור בטמפרטורות גבוהות ולהפיק קרינה חזקה.</p>
</div>
<h1 align="center">בתמונה מתחת תוכלו לראות מטוס קרב מפעיל נורים</h1>
<p align="center">
    <img src="~/picturs/pilots-flaring.webp" />
</p>
<br />
<h1 align="center"> בתמונה מתחת אפשר לראות שני מטוסי הרקולס של חיל האוויר הישראלי מפעילים נורים </h1>

<p align="center">
    <img src="~/picturs/erculesamit.jpg" />
</p>
<a asp-page="/Content/FLARES">
    <img src="~/picturs/arrow.png" title="לחץ כדי להעלות מעלה" />
</a>
