@page
@model RazorPages.Pages.Content.HerculesModel
@{
}
<title>הרקולס</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:midnightblue;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
    <h1>מטוס התובלה הרקולס</h1>
</header>
<div dir="rtl">
    <h2>מבוא</h2>
    <p >הרקולס הוא מטוס תובלה טקטי שנבנה על ידי חברת לוקהיד מרטין. המטוס מתאפיין ביכולת לשאת מטענים כבדים ולהמריא ולנחות ממסלולים קצרים ולא סלולים. הוא אחד המטוסים המובילים בתחום התובלה הצבאית בעולם.</p>
    <h2 >מאפיינים טכניים</h2>
    <ul >
        <li>אורך: 29.8 מטרים</li>
        <li>מוטת כנפיים: 40.4 מטרים</li>
        <li>מהירות מקסימלית: 540 קמ"ש</li>
        <li>טווח טיסה: 3,800 ק"מ</li>
        <li>יכולת נשיאת מטען: עד 20 טון</li>
    </ul>

    <h2 >שימושים עיקריים</h2>
    <p >מטוס הרקולס נמצא בשימוש נרחב בצבאות רבים ברחבי העולם ומשמש בין היתר ל:</p>
    <ul >
        <li>הובלת כוחות ואספקה</li>
        <li>פינוי רפואי</li>
        <li>משימות חיפוש והצלה</li>
        <li>כיבוי שריפות</li>
    </ul>
</div>


<br />
<h2 align="center"> תמונות של מטוס התובלה הרקולס</h2>
<p align="center">
<img src="~/picturs/herculesflares.jpg" />
</p>
<br />
<p align="center">
<img src="~/picturs/iafhercules.jpeg" />
</p>
<a asp-page="/Content/Hercules">
    <img src="~/picturs/arrow.png" title="לחץ כדי להעלות מעלה"/>
</a>
