@page
@model RazorPages.Pages.Content.HomePageModel
@{
}
<title>דף הבית</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:gray;
        text-shadow: 1px 1px 2px;
    }

</style>

<h1 align="center">ברוכים הבאים לעולם המידע של מטוסי הקרב</h1>
<h2 align="center">:באתר זה אפשר למצוא כמה מהדברים הבאים</h2>
<ul dir="rtl">
    <li>מידע על כל סוגי מטוסי הקרב החדשניים ביותר כיום</li>
    <li>את כל סוגי החימושים על המטוסים</li>
    <li>את התמונות היפות ביותר</li>
</ul>

<h1 align="center">USA AIR FORCE POWER</h1>
<p align="center">
    <video controls="controls" width="1150px">
        <source src="~/picturs/u.s.%20air%20force%20commercial%20%e2%80%93%20own%20the%20sky.mp4" type="video/mp4" />
    </video>
</p>

