@page
@model RazorPages.Pages.Content.MazmarBombsModel
@{
}
<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:gray;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
    <h1>פצמ"רים</h1>
</header>
<section dir="rtl">
    <h2>רקע</h2>
    <p>פצצות מרגמה (פצמ"רים) הן כלי נשק המיועדים לשימוש בטווחים קצרים ובינוניים. הן נורות ממרגמה ויוצרות פיצוצים עוצמתיים.</p>

    <h2>מאפיינים</h2>
    <ul>
        <li>משקל קל יחסית, המאפשר נשיאה והפעלה מהירה.</li>
        <li>מותאמות לפעולה מהירה בשטחי לחימה.</li>
        <li>משמשות בעיקר לפגיעה במטרות קרקעיות מקובצות.</li>
    </ul>

    <h2>שימושים בשדה הקרב</h2>
    <p>פצמ"רים הם חלק חשוב במערך הארטילריה. הם משמשים לתקיפה ישירה של מטרות קרקעיות, הפרעה לכוחות אויב והפעלת לחץ טקטי באזורים מבוצרים.</p>
</section>