@page
@model RazorPages.Pages.Content.Su_57InfoModel
@{
}
<title>Su-57</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:darkslateblue;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
    <h1>Su-57 מטוס הקרב </h1>
</header>
<div dir="rtl">
    <h2>מידע כללי</h2>
    <p >
        ה-Su-57, הידוע גם בשם "פלאט" (Felon), הוא מטוס קרב חמקן מהדור החמישי שפותח על ידי חברת סוחוי ברוסיה.
        המטוס תוכנן לשלב חמקנות, עליונות אווירית, ויכולות תקיפה מתקדמות.
    </p>
    <h2>מאפיינים עיקריים</h2>
    <ul>
        <li>מהירות מקסימלית: כ-2 מאך</li>
        <li>טווח טיסה: כ-3,500 ק"מ</li>
        <li>חימוש: טילים מונחי רדאר, פצצות מונחות GPS, תותח 30 מ"מ</li>
        <li>תכונות מיוחדות: חמקנות מתקדמת, מערכות חיישנים רב-שכבתיות, יכולת קרב-אוויר משופרת</li>
    </ul>
    <img src="~/picturs/s57info.jpg" width="800px" height="600px" />
</div>

