@page
@model RazorPages.Pages.Content.Su37InfoModel
@{
}
<title>Su-37</title>

<style>
    h1{
        color: black;
        text-shadow: 4px 2px 4px;
    }

    body {
        background-color: transparent;
    }
    h2{
        color:gray;
        text-shadow: 1px 1px 2px;
    }

</style>
<header align="center">
  <h1>Su-37 מטוס הקרב </h1></header>
<div dir="rtl">
    <h2 >מידע כללי</h2>
    <p >
        ה-Su-37, המכונה גם "טרמינייטור", הוא מטוס קרב רוסי מתקדם מדגם סוחוי.
        מדובר בגרסה משופרת של ה-Su-27, הכוללת טכנולוגיות מתקדמות לשיפור יכולת התמרון, מערכות אלקטרוניקה חדשניות ויכולת רב-משימתית.
    </p>
    <h2>מאפיינים עיקריים</h2>
    <ul>
        <li>מהירות מקסימלית: כ-2.35 מאך</li>
        <li>טווח טיסה: כ-3,600 ק"מ</li>
        <li>חימוש: טילים מונחי חום ורדאר, פצצות מונחות לייזר, תותח 30 מ"מ</li>
        <li>תכונות מיוחדות: מערכות דחף וקטורי, יכולת תמרון יוצאת דופן</li>
    </ul> 
    <img src="~/picturs/s3743.webp" width="700px" height="500px" />

</div>


  