@page
@model RazorPages.Pages.Content.Index1Model
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<h1 align="center "> סוגי מטוסים:</h1>
<hr align="center" width="50%" color="green" />

<br />
<br />

<img src="../Pictures/f22vectors.jpg" align="left" width="400px" />

<img src="../Pictures/F35tidluk.jpg" align="right" width="400px" />
<p align="center">
    המטוס בתמונה בצד ימין  זה מטוס מסוג F-35 מבצע תידלוק באוויר
</p>
<br />
<p align="center">
    יש מלא סוגי מטוסים בעולם והטוב בעולם הוא ה F-22 שנבנה ונוצר באמריקה על ידי לוקאד מרטין (חברה אמריקאית המפתחת טכנולוגיה מתקדמת) ואפשר לראות את המטוס בצד שמאל
</p>
